:root {
  --dark3: #393646;
  --dark2: #4f4557;
  --dark1: #6d5d6e;
  --light: #f4eee0;
  --grey1: #959595;
  --grey2: #777777;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  background-color: var(--grey2);
  border: solid var(--grey2) 2px;
  color: var(--light);
  border-radius: 10px;
  width: 80vw;
  justify-content: center;
  align-self: center;
  position: sticky;
  top: -10px;
  z-index: 1;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
}

section {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
}

footer {
  padding: 20px;
  position: sticky;
  bottom: 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.quiz-card {
  border: solid 2px var(--dark2);
  border-radius: 10px;
  width: 80vw;
  height: 35vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.bookmark-button {
  align-self: flex-end;
  font-size: 15pt;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.bookmark-button:hover {
  transform: scale(1.5);
}

.bookmark-button:active {
  transform: scale(1.8);
}

.quiz-button {
  width: 100px;
  height: 30px;
  border: solid;
  border-color: var(--dark2);
  border-radius: 10px;
  background-color: transparent;
  transition-duration: 0.2s;
  cursor: pointer;
}

.quiz-button:hover {
  background: var(--grey1);
  color: var(--light);
}

.quiz-button:active {
  opacity: 0.2;
  animation-duration: 0.2s;
}

.tag {
  color: white;
  background-color: var(--grey1);
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-button {
  width: 100px;
  height: 30px;
  border: solid var(--dark2);
  border-radius: 10px;
  background-color: var(--light);
  transition-duration: 0.2s;
  cursor: pointer;
}

.nav-button:hover {
  background: var(--grey1);
  color: var(--light);
}

.nav-button:active {
  opacity: 0.2;
  animation-duration: 0.2s;
}

.active-page {
  background-color: var(--grey1);
  color: var(--light);
  border: solid var(--dark2);
}
